#topbar {
    -webkit-app-region: drag;
    height: 24px;
    padding: 2px;
    background: #2b373d;
    z-index: 100;
    text-align: left;
    &>div {
        display: inline-block;
        width: fit-content;
        height: 100%;
    }
    &>div * {
        vertical-align: middle;
        height: 100%;
    }
    &>div button {
        background: transparent;
        border: 1px solid rgba(128, 128, 128, 0.4);
        border-radius: 5px;
        font-size: 70%;
    }
    &>div span {
        height: 100%;
        padding-top: 13px;
        font-size: 70%;
        font-family: monospace;
    }
    &>div button:hover {
        background: rgba(165, 163, 163, 0.4);
    }
    &>div button, &>div input {
        -webkit-app-region: no-drag;
    }
    &>div>div {
        display: inline-block;
    }
    &>div>div input {
        height: 100%;
        margin-right: 0px;
    }
    &>div>div label {
        font-size: 80%;
    }
    &>div img {
        padding-left: 2px;
        padding-top: 2px;
        height: calc(100% - 4px);
    }
}