:root {
    color-scheme: dark;
    user-select: none;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
#topbar {
    -webkit-app-region: drag;
    height: 24px;
    padding: 2px;
    background: #2b373d;
    z-index: 100;
    text-align: left;
    &>div {
        display: inline-block;
        width: fit-content;
        height: 100%;
    }
    &>div * {
        vertical-align: middle;
        height: 100%;
    }
    &>div button {
        background: transparent;
        border: 1px solid rgba(128, 128, 128, 0.4);
        border-radius: 5px;
        font-size: 70%;
    }
    &>div span {
        height: 100%;
        padding-top: 13px;
        font-size: 70%;
        font-family: monospace;
    }
    &>div button:hover {
        background: rgba(165, 163, 163, 0.4);
    }
    &>div button, &>div input {
        -webkit-app-region: no-drag;
    }
    &>div>div {
        display: inline-block;
    }
    &>div>div input {
        height: 100%;
        margin-right: 0px;
    }
    &>div>div label {
        font-size: 80%;
    }
    &>div img {
        padding-left: 2px;
        padding-top: 2px;
        height: calc(100% - 4px);
    }
}
#imgOut {
    position: absolute;
    left: 2px;
    top: calc(28px + 10px);
    transform-origin: top left;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    cursor: crosshair;
}
.imgOutWindow {
    height: 100%;
}
#underbar {
    border-top: 1px solid white;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 26px;
    overflow-x: scroll;
    overflow-y: hidden;
}
#timebar_padding {
    height: 100%;
}

#timebar {
    position: relative;
    width: 100%;
    bottom: 20px;
    left: -5px;
    padding-left: 5px;
}
#playbutton {
    display: none;
}
#playbuttonlabel {
    position: relative;
    display: inline-block;
    height: 100%;
    font-size: 90%;
    padding: 0px;
    bottom: 2px;
    border: 0px;
    border-radius: 5px;
}
#seekbar {
    position: relative;
    display: inline-block;
    width: calc(100% - 130px);
    height: 100%;
    position: sticky;
}
#currentFrame {
    display: inline-block;
    width: 50px;
}
#procTime {
    display: inline-block;
    width: 20px;
}
#FrameCache {
    &.s0 {
        color: hsl(81, 100%, 77%);
    }
    &.s1 {
        color: hsl(198, 100%, 77%);
    }
    &.s2 {
        color: hsl(214, 100%, 77%);
    }
    &.s3 {
        color: hsl(287, 100%, 77%);
    }
    &.s4 {
        color: hsl(0, 100%, 77%);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #383838;
    height: 20px;
    border-radius: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 10px;
    margin-top: 0px;
    background-color: #4cabe2;
    border-radius: 0;
}

.ace_print-margin {
visibility: hidden !important;
}


/* sub area */
#subarea {
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 2px white;
    top: calc(26px + 3px);
    width: 30dvw;
    height: calc(100dvh - 26px - 7px - 20px);
    z-index: 10;
    padding: 10px;
}
#subarea[data-open="open"] {
    visibility: visible;
}
#subarea[data-open="close"] {
    visibility: hidden;
}
#subarea[data-loc="left"] {
    left: 0;
}
#subarea[data-loc="right"] {
    right: 0;
}

#partialexport {
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(255, 250, 205, 0.5);
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(39, 60, 165, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 125, 142);
}
::-webkit-scrollbar-corner {
    display: none;
}

/*timeline*/
#timelinearea {
    overflow: auto;
    height: 100%;
    z-index: -10;
    background-color: rgba(102, 115, 175, 0.204);
}
#timeline {
    --tl-y-scale: 1;
    --tl-x-scale: 1;
    padding: 5px;
    transform: scale(1);
    z-index: -10;
    & .object {
        height: calc(30px *var(--tl-y-scale) - 4px);
        margin: 5px;
        padding: 2px;
        position: absolute;
        font-size: 20px;
        overflow-x: auto;
        white-space: nowrap;
        &:hover {
            filter: brightness(0.8);
        }
    }
    & #tl_timebar {
        background-color: rgb(255, 255, 255);
        width: 3px;
        height: var(--tl-timebar-height);
        position: absolute;
        z-index: 15;
        cursor: ew-resize;
    }
}

/* resizer */
.resizer_Vcontainer {
    display: flex;
    flex-direction: column;
    & > .resizer_content {
        min-height: 0px;
        height: 100%;
        overflow: hidden;
        padding: 3px;
    }
    & > .resizer_splitter {
        height: 5px;
        margin: 2px;
        width: calc(100% - 10px);
        border-radius: 3px;
        flex: none;
        cursor: row-resize;
        background-color: #7c7c7c;
    }
    & > .resizer_splitter:hover {
        background-color: #acacac;
    }
}
.resizer_Hcontainer {
    display: flex;
    flex-direction: row;
    & > .resizer_content {
        min-width: 0px;
        width: 100%;
        overflow: hidden;
        padding: 3px;
    }
    & > .resizer_splitter {
        width: 5px;
        margin: 2px;
        height: calc(100% - 10px);
        border-radius: 3px;
        flex: none;
        cursor: col-resize;
        background-color: #7c7c7c;
    }
    & > .resizer_splitter:hover {
        background-color: #acacac;
    }
}

/* export explorer */
#exportexplorer {
    margin: 10px;
}