#logarea {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#logarea p.jsonviewer {
    width: calc(100% - 10px);
    display: block;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    &.warn {
        background: rgba(255, 242, 0, 0.3);
    }
    &.error {
        background: rgba(255, 0, 0, 0.3);
    }
    &.info {
        background: rgba(0, 106, 255, 0.3);
    }
    &.log {
        background: rgba(0, 255, 179, 0.3);
    }
    &.link {
        background: rgba(0, 208, 255, 0.3);
    }
}